[2020-07-09 16:34] muescha opened #27 "gatsby-theme-blog-darkmode is missing repo / url in package.json"
gatsby-theme-blog-darkmode is missing repo / url in package.json

problems:
- no direct link on npmjs
- no direct link on gatsby packages

[2020-07-13 13:02] #27 closed

[2020-07-13 13:08] renovate[bot] opened #35 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] Update dependency babel-preset-gatsby to ^0.4.12
 - [ ] Update packages (<1.0.0 minor) (`@reach/skip-nav`, `@theme-ui/prism`, `gatsby-plugin-theme-ui`, `theme-ui`)
 -

[2020-07-24 09:01] LekoArts opened #43 "☂ [Umbrella] gatsby-theme-i18n & child-themes"
Hello!

If you want to try out `gatsby-theme-i18n` or its child themes -- this is the place to ask questions, report bugs, suggest ideas, collaborate on improvements, and get notified about updates. Alternatively you can also join the [Gatsby Discord server](https://discord.gg/cQ2MPUz).

---

Quick links:

- [Research blog post](https://www.gatsbyjs.org/blog/2020-07-13-i18n-pain-points/)
- [Announ

[2020-07-24 17:52] ksurendra opened #46 "Invalid homepage url for gatsby-theme-blog-core on npmjs"
For **gatsby-theme-blog-core** on NPMjs https://www.npmjs.com/package/gatsby-theme-blog-core the url for Homepage is pointing to https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-theme-blog-core#readme opens a 404 Page.

![gatsby-error-1](https://user-images.githubusercontent.com/902972/88420329-53125200-cdac-11ea-811f-f76f8acc0c0d.png)

**Resolution:**
The correct homepage url for sh

[2020-07-28 13:16] #46 closed

[2020-07-30 01:21] GGrassiant commented on #43
Hi!

I am building my portfolio with Gatsby and TypeScript and initially used `gatsby-plugin-i18n` but `gatsby-theme-i18n` is an amazing tool that avoids duplicating pages. Plus the utils like the LocalizedLink or to access the locale are super useful. Great job!
I deployed to Heroku the boilerplate and I had. No issue whatsoever, it works perfectly, really amazing theme.

I have 2 questions. Sinc

[2020-07-30 22:05] GGrassiant commented on #43
FYI if someone has a similar issue, I sorta made it work by doing `transformIgnorePatterns: ['node_modules/(?!(gatsby-theme-i18n)/)']`
but still have an issue with `Jest` as I mentioned [here](https://stackoverflow.com/questions/63176545/react-test-not-working-with-current-jest-config-gatsby-and-gatsby-theme-i18n)

[2020-07-31 07:39] LekoArts commented on #43
Hi Guillaume, glad to hear that the theme itself works well for you!
No worries, feel free to ask those questions here, I'll do my best to answer them.

1) Type definitions would definitely be a nice touch, would be interested on working on those?
2) You'll need to mock the response from the `useStaticQuery` of the `useLocalization` hook. Here's a good short article: https://florian.ec/blog/mock-g

[2020-07-31 15:54] GGrassiant commented on #43
This is awesome! Thanks a lot, it worked! :)
I documented the solution in [the stack overflow thread](https://stackoverflow.com/questions/63176545/react-test-not-working-with-current-jest-config-gatsby-and-gatsby-theme-i18n) is anybody has the same issue.

For the Type definitions, I would be very interested in participating but I am pretty new to TypeScript and have never done that (i usually jus

[2020-08-03 21:45] msallent commented on #43
Hi! Thanks for these themes, they are really great. I have an issue though, or maybe a question, but how does localization work on the 404 page? I built and served my project but after going to a non existing route under a language I still get the english (default locale) text.

[code]

Going to http://localhost:9000/es/testing which does not exist, shows "Error 404 - Page not Found", which is the

[2020-08-04 07:17] LekoArts commented on #43
This would be a `index.d.ts` file at the root of https://github.com/gatsbyjs/themes/tree/master/packages/gatsby-theme-i18n, like we have in our main Gatsby repository: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/index.d.ts

---

Hi @msallent 👋
I think this doc might help you: https://www.gatsbyjs.org/docs/creating-prefixed-404-pages-for-different-languages/

Until I have time to

[2020-08-04 12:16] GGrassiant commented on #43
Thanks @LekoArts ! Awesome I will give it a try :)

[2020-08-07 21:21] eminvergil opened #57 "is there a way to create subscribe section in gatsby-blog-theme"
i am trying to build a blog site for myself.i love this theme but it doesnt allow to edit , change the layout because when you download it comes as package,so how can i create subscribe section ? or change layout , add different sections ?

[2020-08-10 12:13] gh640 commented on #57
You can use the "shadowing" function to override components provided by the theme. The following page helps:

- [Shadowing in Gatsby Themes | GatsbyJS](https://www.gatsbyjs.org/docs/themes/shadowing/)

[2020-08-10 17:28] mdovn opened #58 "Inline image for post"
Inside my `mdx` post, how can I add an inline image?
I've tried to place an image named `foo.png` inside the post folder and then insert this markdown:
[code]
but it doesn't work

[2020-08-10 21:23] jaytula opened #59 "gatsby-theme-notes 2.0.1 appears broken"
The instructions here https://www.gatsbyjs.org/packages/gatsby-theme-notes/ in the *Manually add to your site* section does not work because it install the newer `2.0.1` version.  Switching to the older `1.3.x` works.

[code]

![image](https://user-images.githubusercontent.com/75389/89832678-87a83c80-db14-11ea-83a9-46cc171d73ec.png)

It appears there's been some major changes from version 1.x  to

[2020-08-11 20:24] #57 closed

[2020-08-12 08:18] tmskrtsz commented on #43
Hey, is there an option to prefix the default language in the path? I.e. `/en/`

[2020-08-13 04:44] ColadaFF opened #62 "Integration of gatsby-theme-blog and i18n"
Hi there,

I've been trying to integrate i18n with the new gatsby-theme-blog, but haven't been able to do so.

I've tried a lot of gatsby i18n packages.

Is there and official way to do this?

I also tried with gatsby-theme-i18n

But get the error "Cannot query field "themeI18N" on type "Query"."

Thanks!

[2020-08-13 07:11] LekoArts commented on #43
Hey! 👋 I'm currently on vacation for two weeks, I'll get back to any questions after that 😊

[2020-08-13 07:35] wirths commented on #43
Hi @tmskrtsz, would you mind to post or DM the mentioned code snippet? Very much appreciated. @LekoArts Are you planning to add an option to allow a prefix for the default language? Thank you

[2020-08-13 07:37] wirths commented on #43
Hi @tmskrtsz, would you mind to post or DM the mentioned code snippet? Very much appreciated. @LekoArts Are you planning to add an option to allow a prefix for the default language? Thank you

[2020-08-13 09:33] tmskrtsz commented on #43
@wirths sure thing, the gist of it is this:
[code]

[2020-08-13 12:36] wirths commented on #43
@tmskrtsz Thank you!

[2020-08-13 18:29] will-weiss opened #63 "Blank or 404 page for urls prefixed with default locale"
Hello! Is there a way of augmenting the configuration for a project set up identically to the [example-react-intl](https://github.com/gatsbyjs/themes/tree/master/starters/example-react-intl) project so that pages prefixed with the 2 letter code for the default locale are rendered or redirected? That is, in that project if I access `localhost:8000/en` I would expect a page just like `localhost:8000

[2020-08-18 08:00] alexislepresle commented on #62
Hello @ColadaFF ,

Did you use `gatsby-plugin-mdx`?
I will soon create a blog theme with i18n.

[2020-08-29 07:38] varunbhaya03 commented on #58
@mdovn I am not able to reproduce this issue, able to render `.png` as well as `.jpeg` extension images inside `mdx` file.
Can you provide the error and code snippet here?

[2020-09-02 14:17] philschonholzer commented on #63
Got the same problem. Nothing is being rendered with the default language in the url.

[2020-09-02 17:19] philschonholzer opened #66 "How to use navigate from gatsby with i18n?"
If the default locale would also be prefixed using navigate from gatsby would be easy:

[code]

But because the default is not prefixed:

[code]

Is there a better way? Can you maybe provide a helper for this?

[2020-09-02 18:02] philschonholzer commented on #43
Sorry, have just seen this umbrella issue.

If the default locale would also be prefixed using navigate from gatsby would be easy:
[code]
But because the default is not prefixed:
[code]
Is there a better way? Can you maybe provide a helper for this?

[2020-09-02 18:19] philschonholzer commented on #43
Is it possible that a redirect based on the browser locale is not supported? In my tests I was never redirected to the matching route.

[2020-09-02 18:26] philschonholzer commented on #43
I'm now also trying to get prefixed for the default language, because it make a lot of things easier, but @tmskrtsz @wirths what did you you do about <LocalizedLink>? Are you just using <Link> and add locale manually?

[2020-09-03 07:08] tmskrtsz commented on #43
I extended `LocalizedLink` in a new component where I check for the `defaultLang` locale and add the proper strings to the path.

[2020-09-03 07:46] LekoArts commented on #66
Will close this in favor of https://github.com/gatsbyjs/themes/issues/43 :)

[2020-09-03 07:46] #66 closed

[2020-09-03 07:46] LekoArts commented on #43
Hi! Getting back up to speed again and will look into these things :)

[2020-09-11 10:53] tmskrtsz commented on #43
Once feature that is stuck in PR in `gatsby-plugin-intl` is localized slugs. I had an ugly workaround set up with one website I made using it but it was not elegant. It would be great to have that information in the context of a page or some other similar solution that makes pages "aware" of other versions.

[2020-09-14 12:55] LekoArts commented on #43
Ok, so a bit of an update:

- With `gatsby-theme-i18n@1.0.3` I merged https://github.com/gatsbyjs/themes/pull/55
- With `gatsby-theme-i18n@1.0.4` I merged https://github.com/gatsbyjs/themes/pull/64

Next things on my list:

- Add option to also prefix with the default language

This should help with the page creation, `navigate()` and `<LocalizedLink />`

[2020-09-15 10:41] LekoArts commented on #43
@wirths @philschonholzer @tmskrtsz Please have a look at https://github.com/gatsbyjs/themes/pull/75 and try out the canary release `1.0.5-defaultprefix` :)

[2020-09-15 12:34] LekoArts commented on #63
Closed in favor of umbrella issue :)
https://github.com/gatsbyjs/themes/issues/43#issuecomment-692632145

[2020-09-15 12:34] #63 closed

[2020-09-15 16:56] gillkyle commented on #59
I'm unable to replicate the exact issue:

[code]
that seems to be coming from `gatsby-plugin-theme-ui`, though this issue did help me uncover a similar, related issue. I saw an issue in theme-ui when installing `gatsby-theme-notes` in a fresh project (like mentioned in the original issue), but got an error hinting that components weren't being exported correctly.

Digging into it, a handful of the

[2020-09-15 18:21] #59 closed

[2020-09-17 02:23] DWShuo opened #78 "gatsby blog theme breaking when used with other themes"
## Description
There are two bug it seems
1. Gatsby blog theme is not displaying correctly when used with another theme.
2. The theme does not seem to picking up blog posts placed in `content/posts` when used with another theme, i had to make a new folder and used the contentPath option to point it to the new folder, is this intended?

### Steps to reproduce

- yarn init -y
- yarn add gatsby react

[2020-09-21 10:32] #78 closed

[2020-09-29 15:33] laurieontech commented on #58
I'm going to close this since we don't have the ability to reproduce the issue. Please feel free to reopen it if you have an example for us to dig into.

[2020-09-29 15:33] #58 closed

[2020-10-01 11:26] pz-mxu commented on #43
Is there a way to translate the whole page url when creating localized pages?

[2020-10-07 10:23] daire-dev commented on #43
Hello! Is there an option to add a user's preferred language to localStorage?

[2020-10-07 13:00] mi5ha opened #79 "[gatsby-theme-i18n] Can page be translated?"
Hi there,

I tried creating index.de.tsx page, and plugin generates /de/ page. But that page still shows index.tsx page!

Is this theme meant to be used this way?
Thanx

[2020-10-13 14:06] mi5ha opened #80 "[gatsby-theme-i18n] Is there a way to get non-localized version of the current path?"
This returns localized version:

[code]

This non localized version of the current path is necessary when language switchers are created for example.

Thank you!

[2020-10-13 14:12] mi5ha opened #81 "[gatsby-theme-i18n] LocalizedLink breaks the build if "to" is not given"
If "to" prop is not given to LocalizedLink, it breaks the build with cryptic message.

It breaks on this line.

[code]

[2020-10-19 14:51] theowenyoung opened #84 "[gatsby-theme-blog-core] Is there anyway to create pagination?"
Hi, I'm making a gatsby theme based gatsby-theme-blog-core, and I need to create pagination for my theme, but  `gatsby-theme-blog-core` create `/` page without pagination info, how can I override this?

[2020-10-19 14:57] theowenyoung commented on #84
I think I can modify page by this  [course](https://www.gatsbyjs.com/docs/creating-and-modifying-pages/), Thanks.

[2020-10-19 14:57] #84 closed

[2020-11-03 18:54] finjo-the-great opened #87 "Include ability to caption post heros for blog theme"
According to Unsplash's [API Guidelines](https://help.unsplash.com/en/articles/2511315-guideline-attribution), uses of its images must link back to the photographer and attribute unsplash. It would be nice if the blog theme allowed me to attach some sort of frontmatter that allowed me to add a caption to have this attribution.

[2020-11-03 18:58] finjo-the-great opened #88 "Link to github source for gatsby-theme-blog is broken"
If I click the "View plugin on github" link on the [gatsby-theme-blog page](https://www.gatsbyjs.com/plugins/gatsby-theme-blog/), it goes to a [URL that gives a 404](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-theme-blog).

[2020-11-07 20:14] flogy commented on #79
Have the same issue. It seems to me that only MDX files are checked for a `.de.` pattern and all others are not?

[2020-11-09 20:34] laurieontech commented on #88
Thanks for the PR! The code for that is in another repo and they're aware of the issue. I'm going to close this as a result.

[2020-11-09 20:34] #88 closed

[2020-11-19 16:00] laurieontech commented on #87
Would certainly be open to a community contribution adding this!

[2020-11-19 23:32] jaworek commented on #43
I'm trying to build a language selector that is working on every subpage but is reused in the menu. It is quite easy to switch from default language (English) to other language (Polish). Setting it up the other way seems to be a bit tricky.
Does anyone have an idea how to simplify it? I feel like I'm trying to make it too complex.
![image](https://user-images.githubusercontent.com/22678765/9973684

[2020-11-20 09:42] jaworek commented on #43
I noticed that ```useLocalization()``` hook is missing description and use of fields and function it returns. ```LocalizedLink``` is also missing description of props it accepts.
It would be useful to have it in the documentation.

[2020-11-20 21:53] jaworek commented on #43
I found solution to language switcher on Discord channel about this theme.
https://discord.com/channels/484383807575687178/727457650480119880/738325988194254870

[2020-11-20 21:55] jaworek commented on #43
Is it possible to use language detector with this theme or is it not implemented yet?
https://github.com/i18next/i18next-browser-languageDetector

[2020-11-22 14:38] ar7casper opened #90 "Can't resolve `react-intl`"
In the context of a monorepo, I get the following error.
react-intl is installed and shows up on `node_modules`

[2020-11-27 22:12] onurtahmaz opened #91 "Particles component vanishes in locale"
Hey,

I've come across this problem while implementing gatsby-theme-i18 to a website I've been working on:

I use particles.js library in the layout component and the default locale is English. However, when I switch to Turkish, the particles component vanishes. When I switch back to English, I see the particles component again. I cannot make it work for the other language. I even couldn't find a

[2020-11-28 10:45] onurtahmaz commented on #43
Hey,

I've came across this problem while implementing gatsby-theme-i18 to a website I've been working on:

I use particles.js library in the layout component and the default locale is English. However, when I switch to Turkish, the particles component vanishes. When I switch back to English, I see the particles component again. I cannot make it work for the other language. I even couldn't find a

[2020-11-30 12:46] #91 closed

[2020-11-30 12:47] onurtahmaz commented on #91
problem was because of Gatsby-background-image's Tag being html. I changed it to div and problem was solved.

[2020-12-02 14:30] onurtahmaz commented on #43
Is this theme still maintained?

[2020-12-10 18:56] nikhog commented on #43
Same case for me, I ended up implementing a hacky fix for my specific use-case (translate slugs both for mdx/blog posts & regular pages...). It would be awesome if a solution for translation of urls could be implemented in this theme at some point, since that other library is not maintained anymore.

[2020-12-12 06:49] theowenyoung opened #93 "i18next theme load all locales"
Hi,

I suppose the following code, the webpack will load all files in `GATSBY_THEME_I18N_REACT_I18NEXT `,  is there a better way to only load the current locale?

https://github.com/gatsbyjs/themes/blob/fead1c23870cf37e8ce1a5476a43ef580ca1d509/packages/gatsby-theme-i18n-react-i18next/src/wrap-page-element.js#L14

[2020-12-13 09:55] theowenyoung opened #94 "[gatsby-theme-blog-core] Can I custom the default limit 1000?"
https://github.com/gatsbyjs/themes/blob/fead1c23870cf37e8ce1a5476a43ef580ca1d509/packages/gatsby-theme-blog-core/gatsby-node.js#L259-L272

Hi, Can I change the limit `1000`?

[2020-12-18 00:55] eliasm307 commented on #87
Hello @laurieontech i would be up for giving this a go, if it's still available.

From my understanding I think there are at least 3 ways to do this, explained below. Would you be able to let me know if I'm on the right track and which solution is preferable? This is one of my first contributions to open source so any advice you have would be appreciated.

For the options below I prefer either opt

[2020-12-18 12:37] laurieontech commented on #87
@eliasm307 thanks so much for picking this up. I’d opt for option 2. This theme is already designed for use with MDX so you should be able to add it to the frontmatter. However, you don’t need to support anything other than plaintext.

What I would recommend is making a separate caption component so that people can shadow it and make changes as they see fit. Then conditionally displaying that shou

[2020-12-18 21:03] finjo-the-great commented on #87
I suppose the caption wouldn't need to support arbitrary HTML or markdown, but it seems like it should at least offer a way to link back to the unsplash/pixaby page or whatever the platform requires you to link to.

[2020-12-18 21:11] eliasm307 commented on #87
Hello @laurieontech thank you for your feedback. Making a caption component sounds good.

However I didn't quite understand what you meant by people will be able to "shadow" the component, would you be able to clarify please? My understanding of what you said is that there would be a caption component that would take the caption text as props then the component could be modified as required to sty

[2020-12-19 12:51] eliasm307 commented on #87
How about using 2 fields for the caption, one which would be the caption text, then an optional one for a link which would make the whole caption a hyperlink?

[2020-12-21 13:22] coscakir commented on #80
Hello @mi5ha ,
you can get `originalPath` value from page context like below and pass it to the Language switcher component.
but, I'd like to know whether is there an easy way to do it?

[code]

[2020-12-21 18:31] coscakir commented on #80
Hello again :)
I was thinking a way to find originalPath without passing from the page. just get the current path and remove the language codes from that path. this doesn't seem like a bad method until you can get the original path with a hook etc. better than passing the originalPath from every page's context I think. here is my language switcher component if anyone needs it.

[code]

[2021-01-04 13:31] laurieontech commented on #94
Right now that is not a configurable field. So unfortunately you cannot.

If you'd like to submit a PR to make it so, we'd be open to that.

[2021-01-04 13:31] #94 closed

[2021-01-04 13:36] laurieontech commented on #87
Apologies for the delay here, we were off for the holidays.

I hadn't considered the link piece. I think creating a format with specific fields is reasonable. To handle internationalization there should be no English text included. Perhaps something like:
`<startCaptionText> <linkName><link> <endCaptionText>.`

It only allows for a single link, but it's very configurable.

[2021-01-04 14:03] eliasm307 commented on #87
@laurieontech thanks for your reply, hope you had a good break.

I'll look into implementing the solution you described when I get a moment however, I had looked around and found the following in the gatsby contribution guides [here](https://www.gatsbyjs.com/contributing/docs-and-blog-components/#blog-posts) ![Screenshot_20210104-145756_Chrome.jpg](https://user-images.githubusercontent.com/1342035

[2021-01-04 14:45] laurieontech commented on #87
Ah, this is the old site code for authoring blog posts. We've since moved to a CMS so I'd have to go digging in git history. But as a pattern it's a perfectly reasonable one to duplicate.

[2021-01-04 22:58] eliasm307 commented on #87
@laurieontech I've created a pull request using two frontmatter properties for the caption text and caption link. This was easier and also I think it is more straightforward and flexible to use as the text can be however the user wants using just one markdown field, however, the whole thing becomes a hyperlink if a caption link has been defined, but I don't know if this is actually an issue?

If y

[2021-01-18 04:04] oddui commented on #93
I think there is a similar issue in `gatsby-theme-i18n-react-intl`. All the language files can be seen in the `app-xxx.js` file in production mode.

[2021-01-22 12:05] theowenyoung opened #97 "[gatsby-theme-blog-core] Support filter, limit as theme options"
Hi,

Here is the case, I want exclude the `draft: true` posts and custom posts limit, but now I can not do that.

Expect:

[code]

I can make a pr later.

[2021-01-22 23:19] moshfeu opened #99 "[gatsby-theme-blog-core] Add canonical to `BlogPost` interface"
## Why?

This way, the consumer can add `canonical` to front matters in order to have custom canonical tag. Use case, post original posted on Medium.

I was be able to implement it by modifying the files in `node_modules` but I couldn't run it through `link` because I get

(Tried also to link both `gatsby-theme-blog` and `gatsby-theme-blog-core`)

https://github.com/moshfeu/themes/commit/ae50220ca

[2021-01-24 08:57] kaelhem opened #100 "[gatsby-theme-i18n-react-i18next] hydrate and useTranslation"
Hi,
I'm trying to use the `gatsby-theme-i18n-react-i18next` theme but facing some hydratation issues.

To reproduce the behavior, you can simply clone this repo and launch the available react-i18next sample in dev:
[code]

When you click a link for the first time after page load, you can see this error displayed in console:
`Warning: Cannot update a component (`Layout`) while rendering a different

[2021-01-26 16:23] eneax commented on #43
Hi everyone!

I'm working on translating a corporate website, and I'm using `gatsby-theme-i18n` with the child theme `gatsby-theme-i18n-react-intl`. Both of these themes are working well so far, and I have been able to translate all MDX content.

However, I was wondering if there is a way to have per-component translations.
Instead of two files like `de.json` and `en.json`, which can get very larg

[2021-01-27 11:09] eneax commented on #79
@mi5ha I had the same problem, and solved it by adding the `locale` to the query as shown in the [example-18n](https://github.com/gatsbyjs/themes/blob/6ff5c7ae256a732f790401512f8a86e09e11b070/starters/example-i18n/src/templates/blog-template.js#L28)

[code]

I hope it helps!

[2021-02-03 19:51] maiertech opened #101 "[gatsby-theme-i18n] Error: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
I'm running into this error with gatsby-theme-i18n:

<img width="846" alt="Screen Shot 2021-02-03 at 2 45 18 PM" src="https://user-images.githubusercontent.com/1482402/106800529-94729c80-662e-11eb-90d5-021a3cff5911.png">

This seems to be related to hot reloading because when I delete the cache and run it for the first time I see translated pages as expected. Therefore, I think that the theme is c

[2021-02-08 01:25] AlmogRnD opened #102 "WebpackError: ReferenceError: Tag is not defined"
I'm getting the following error when I tried to install the to my existing site

[code]

My config

[code]

[2021-02-11 13:07] jasonair opened #103 "gatsby-theme-i18n and adding a Path Prefix to gatsby-config file not working"
The theme seems to remove the Path Prefix added in the gatsby-config file. I have a site on a domain subfolder, and without the gatsby-theme-i18n, it works fine. As soon as I add the theme, whatever I had for the prefix gets replaced with the language prefixes e.g. "/" for default language, or "/de", "/en".

Is there a way around this at all? Thanks in advance.

[2021-02-28 18:05] javiertury opened #104 "[gatsby-theme-i18n] Create language detection page "/" for prefixDefault=true"
`prefixDefault=true` prepends the locale to all URLs. This is nice feature but breaks the `/` page, trying to access `http://localhost:8000/` returns a 404.

[code]

The page `src/pages/index.tsx` is working as intended, it's served at `/<locale>`. My objective is to create a language agnostic index page (`/`) that detects the browser locale and redirect the user to `http://localhost:8000/<locale>

[2021-03-04 09:33] maxvia87 opened #105 "gatsby-theme-i18n not building all my pages even with prefixDefault set to true"
Hello,
I am facing this issue where when I do gatsby build and look at my sitemap, no pages with the 'fr' subfix are created.
Here is a look at my gatsby-config.js file
`    {
      resolve: `gatsby-theme-i18n`,
      options: {
        defaultLang: `fr`,
        prefixDefault: true,
        configPath: require.resolve(`./i18n/config.json`),
      },
    },
`
and here is a look at my i18n/config.j

[2021-03-11 20:23] t2ca opened #106 "Support for Gatsby v3"
I was wondering if there are any plans to update gatsby-theme-blog?

[2021-03-28 06:01] theowenyoung commented on #106
Same here. Waiting.

[2021-04-12 11:01] LekoArts commented on #87
Implemented with https://github.com/gatsbyjs/themes/pull/95

[2021-04-12 13:42] #97 closed

[2021-04-13 13:12] LekoArts commented on #106
I'm in the process of upgrading everything!
https://github.com/gatsbyjs/themes/pull/112

[2021-04-14 09:19] LekoArts commented on #106
Published canary version to try out:

[code]

[2021-04-14 15:48] t2ca commented on #106
Thanks, it's working fine here.

[2021-04-17 07:13] OdysLam commented on #106
Hey, I tried installing it but I get `No matching version found for gatsby-theme-blog-core@3.0.0.`

I used `npm install gatsby-theme-blog@gatsby-v3`

[2021-04-17 11:50] jwbargsten commented on #80
There is more than one way to do it, of course. Here a version adapted from [gatsby-plugin-intl](https://github.com/theowenyoung/gatsby-plugin-intl/blob/349bcbe2b31e2ec1fc415293165c9324a268aaef/src/link.js#L61):

[code]

With `buildLocalizedLink` you can build a localized link (surprise, surprise) of the page in a different locale (given by `code` arg). With `changeLocale` you can navigate to it u

[2021-04-19 07:15] LekoArts commented on #106
Yeah, somehow Lerna messed up the versioning of this: https://unpkg.com/browse/gatsby-theme-blog@2.1.1-gatsby-v3.14/package.json

I'll publish all blog/blog-core/notes/theme-ui-preset again

[2021-04-19 07:17] OdysLam commented on #106
Thanks! As I just started learning Gatsby (and react for that matter), I have set up a skeleton for my website. How the theme will help me? predefined graphql queries and the like?

[2021-04-19 07:40] LekoArts commented on #106
Installing `gatsby-theme-blog@gatsby-v3` should work now :)

Themes can be understood as pre-packaged Gatsby sites so they can include `gatsby-config.js`, `gatsby-node.js` etc. and in this instance the blog theme has predefined GraphQL queries and styling on top of it. You can read more here: https://www.gatsbyjs.com/docs/themes/

[2021-04-20 09:54] #106 closed

[2021-04-20 10:03] LekoArts commented on #106
[code]

[2021-04-20 10:40] #80 closed

[2021-04-20 10:41] LekoArts commented on #105
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-04-20 10:42] #104 closed

[2021-04-20 10:42] LekoArts commented on #103
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-04-20 10:42] #102 closed

[2021-04-20 10:45] #43 closed

[2021-04-20 10:45] #79 closed

[2021-04-20 10:46] #99 closed

[2021-04-20 10:47] LekoArts commented on #93
I'm not sure I understand your question, can you please clarify what you expect to happen and what currently happens?

[2021-04-20 10:47] #90 closed

[2021-04-20 10:48] #81 closed

[2021-04-20 10:49] #62 closed

[2021-04-21 04:01] oddui commented on #93
Hello, in my case I was testing with the `gatsby-theme-i18n-react-intl` package. I no longer use the package but i can try to explain what i saw.

When a page was built, for example for the en locale, the built assets contain translations in all languages that I had. I could see messages in different languages in the `app-xxx.js` file.

What I expect is that a page built for a locale only contains

[2021-05-07 13:31] Skil3e opened #123 "gatsby-theme-i18n Typescript on LocalizedLink."
When using LocalizedLink Typescript requires property 'language' witch sould be an optional propery based on your example.

issue is on index.d.ts

[code]

TS2741: Property 'language' is missing in type '{ children: ReactNode; to: string; className: string; }' but required in type '{ [x: string]: any; to: any; language: any; }'.

[2021-05-13 12:53] rlirli opened #124 "gatsby-theme-i18n not redirecting to defaultLang when opening subpath without language prefix"
**Describe the bug:**
I am using the following configuration file for a gatsby.js page. With the defaultLang set to `en`, it correctly redirects the user from `domain.com` to the localized version `domain.com/en`. However, this redirect does not work with subpaths. Opening `domain.com/about` leads to 404.

[code]

**Expected behavior:**
A user who accesses `domain.com/about` should by default redi

[2021-05-27 05:44] olivier-lacroix opened #126 "gatsby-theme-i18n does not honor prefixDefault param in generated alternate links"
Hello there,

The alternate link for the default locale is always generated without prefix, irrespective of the `prefixDefault` parameter.

ie, with `prefixDefault` set to `true`, the theme generates
[code]

instead of

[code]

[2021-05-27 11:04] olivier-lacroix opened #128 "[gatsby-theme-i18n] limit generation of localised pages to a subset of pages only"
Hello,

For some locales, I want to generate a localised page for only some pages. `gatsby-theme-i18n` currently does not allow that.

I imagine this could be parametrised by an array of regexp / paths whitelisting pages to localise in the config file.

Is this a feature you would consider including in `gatsby-theme-i18n`?

[2021-05-28 01:15] olivier-lacroix opened #129 "[gatsby-theme-i18n] locale node field is created only for Mdx files"
Hello,

Currently, the `locale` Node Field is created based on file name only for nodes of internal type `Mdx`.

It would be great to extend this to other relevant node types. For instance `MarkdownRemark`

[2021-05-29 08:26] olivier-lacroix opened #131 "[gatsby-theme-i18n] isDefault node field is false when locale is explicit in file path"
Hello,

Currently, the `isDefault` field is set to `true` only when file name is `index`. it should also be `true` if the file name is `index.en` and `defaultLang` is `en`.

Thanks

[2021-05-31 11:55] olivier-lacroix commented on #128
I gave it a go in PR https://github.com/gatsbyjs/themes/pull/133

[2021-06-03 12:44] chrisk8er commented on #100
i Get the same issue when using useTranslation and gatsby-theme-i18n

[2021-06-11 06:28] pixelstrolch opened #135 "[gatsby-theme-i18n] broken link to this repository"
The link on https://www.gatsbyjs.com/plugins/gatsby-theme-i18n/ is broken

[2021-07-01 18:15] asterikx commented on #101
@maiertech I just run into the same issue. Are you loading MDX content through plugins other than `gatsby-source-filesystem`?
In my case, I was also using `gatsby-source-contentful`, which also creates nodes with internal type `Mdx` for Contentful rich text fields, but does not add the field `fileAbsolutePath` to the node.
`gatsby-theme-i18n` should skip `Mdx` nodes that have not been created by `

[2021-07-05 21:43] jasperanders opened #138 "Components in wrapPageElement cannot access the current locale"
I use a Layout Component with a navigation Bar. It is present at every route, so I put it at `gatsby-browser.js` like so
[code]
No problem so far.
If I try to get the locale in the `Layout` through   `const { locale } = useLocalization();` I get the wrong locale. This means that my Links redirect wrongly. Am I doing something wrong, or is this a bug?

Cheers

[2021-07-22 20:18] orsi opened #139 "[gatsby-theme-i18n] Documentation for GraphQL parameters"
I am having a hard time trying to find was query parameters are available to pass into my GraphQL queries. I know of $locale only from looking at the example repo, but I know $hrefLang is also available.

Where is the documentation on this?

[2021-07-31 15:44] logemann opened #140 "[gatsby-theme-i18n] no seo support with URLs"
Do i get it right that its not possible to modify the URL according to the current locale? This would be a SEO nightmare because with a contact.js page, you end up with:

https://example.com/mysite/de/contact/
and
https://example.com/mysite/en/contact/

Which is only ok for the second, because i dont want to have an english word in my german url, there i want "kontakt" and not "contact".

[2021-10-06 09:18] philschonholzer opened #142 "Gatsby dev server crashes on root URL"
If I open the root url `localhost:8000/` the gatsby dev server will crash if SSR is enabled.

[code]

./locale/config.json
[code]

gatsby-config.js
[code]

[2021-10-07 15:26] gpessa opened #143 "gatsby-theme-i18n-lingui and typescript"
Do you have an example that explain how to use `gatsby-theme-i18n-lingui` with typescript?

[2021-10-23 04:13] tx0c opened #147 "where is the actual code for https://gatsby-theme-i18n.netlify.app/ ?"
looking at the starter code https://github.com/gatsbyjs/themes/blob/master/starters/example-i18n/gatsby-config.js it says

https://github.com/gatsbyjs/themes/blob/master/starters/example-i18n/gatsby-config.js#L7

    siteUrl: `https://gatsby-theme-i18n.netlify.app`,

but running it locally is very different,

so, where is the actual code for https://gatsby-theme-i18n.netlify.app/ ?

[2021-10-25 19:57] #143 closed, assigned to nobody

[2021-11-19 03:00] tx0c opened #148 "Roadmap to Gatsby 4 ???"
my newer projects are already using Gatsby 4, but my other older projects were using plugins from this repo, one is `gatsby-theme-i18n` would like to migrate it to Gatsby 4, but stuck at here:

[code]

and this repo doesn't have any single commit for the past 7 months since April, looks like is this whole repo abandoned?

from [the Contributors Graph](https://github.com/gatsbyjs/themes/graphs/cont

[2021-11-19 22:34] remimarsal commented on #93
Hi @LekoArts, see below the screenshot for what's happening when using `gatsby-theme-i18n-react-intl`.

The whole `i18n` folder gets included in the `app-xxx.js` chunk so every page gets the translations already compiled in the HTML from SSR then proceeds to download all the translations from every locales.

I would expect the translations to be in their own chunks or better yet not having to down

[2021-12-07 15:47] IstoraMandiri commented on #93
This is especially bad with large sites, as bundle size can be huge and a change to any string anywhere means all pages need to rebuild.

It seems that the problem is that webpack will statically anylyse `require` and include all files that match the `dirname/**/**.json` pattern, assuming that, as with JS, there may be dependancies in that "library" directory. Unless there's some way of configurin

[2022-01-11 11:00] jbtheard opened #151 "How to configure Storybook to work with gatsby-theme-i18n ?"
Gatsby Link does provide a [specific config](https://www.gatsbyjs.com/docs/how-to/testing/visual-testing-with-storybook/#manual-configuration) for <Link /> to work in the context of [Storybook](https://storybook.js.org/).

But when switching to <LocalizedLink /> from _gatsby-theme-i18n_ , Storybook build fails with the following error:

[code]

See reproductible repo [here](https://github.com/jbth

[2022-01-12 11:04] MaksimAmelchenko commented on #151
Add this to .storybook/main.js. Here we transpile gatsby-theme-i18n as well.

[code]

[2022-01-13 03:58] wollnyst commented on #124
Are there any updates on this issue or workarounds?

[2022-01-13 11:52] jbtheard commented on #151
Thanks @MaksimAmelchenko it does fix this indeed.

[2022-01-13 11:52] #151 closed, assigned to nobody

[2022-01-24 14:40] jongwooo commented on #147
Hi @tx0c

I hope this is what you were looking for.

[https://github.com/coskuncakir/gatsby-theme-i18n](https://github.com/coskuncakir/gatsby-theme-i18n)

[2022-02-14 06:35] twodft opened #157 "[gatsby-theme-i18n] a wrong `md` locale node field is created when file extension is `.md`"
Hello, I'm using both `.md` and `.mdx` file extension for my blog posts. And while using `gatsby-theme-i18n`,
I found it generate a wrong `locale` and `isDefault` node fields when my blog file extension is setting to `.md`,  the graphql result is like this,

[code]
after change my blog markdown file extension to `.mdx`, then I get the correct result.
[code]

[2022-02-15 23:19] ArtyMaury commented on #124
I've got a workaround, it's ugly but it works. I duplicated the pages of the default language.
The problem is that if you create a page from scratch that redirects you to the default language (or the user default) the SEO is bad. because of the redirection.

In gatsby-node.js :
[code]

[2022-02-20 20:13] olivier-lacroix commented on #157
@twodft , this would be fixed by https://github.com/gatsbyjs/themes/pull/130

if a maintainer merges it that is…

[2022-03-08 04:56] twodft commented on #157
fixed by #130

[2022-03-08 04:56] #157 closed, assigned to nobody

[2022-06-09 21:03] pannoury opened #164 "Can't run gatsby build"
ERROR

Page data from page-data.json for the failed page "/en/": {
  "componentChunkName": "component---src-pages-index-js",
  "path": "/en/",
  "result": {
    "pageContext": {
      "locale": "en",
      "hrefLang": "en-US",
      "originalPath": "/",
      "dateFormat": "DD/MM/YYYY"
    }
  },
  "staticQueryHashes": [
    "1239077767",
    "3280999885"
  ]
}

failed Building static HTML for pag

[2022-06-13 18:21] cesarvarela commented on #124
More than a year has passed; any suggestions?

From the looks of it seems like using `createRedirect` is a good option?

[2022-07-09 20:19] gugu opened #169 "gatsby-theme-i18n adds trailing slash even if trailingSlash is set to never"
Expected behaviour for location / and trailingSlash=never:
[code]

current behaviour:
[code]

[2022-07-18 22:46] cesarvarela commented on #138
Any updates on this? It looks like the Gatsby team is not very interested in supporting themes.

[2022-08-08 15:11] pettinarip opened #171 "[gatsby-theme-i18n] `LocalizedLink` incorrect type definition"
The `LocalizedLink` component is requiring a `language` prop. https://github.com/gatsbyjs/themes/blob/master/packages/gatsby-theme-i18n/index.d.ts#L18

**Expected**
The `language` prop should be optional since if you don't send it, it fallback into the locale found in the context https://github.com/gatsbyjs/themes/blob/master/packages/gatsby-theme-i18n/src/components/localized-link.js#L8

[2022-08-17 14:10] EricCote opened #172 "gatsby-theme-i18n is incompatible with the new gatsby-plugin-mdx v4"
The new **gatsby-plugin-mdx** v4 has a lot of internal changes and new features.

Because of these internal changes, **gatsby-theme-i18n** fails to add the locale for `.mdx` files. Luckily, the fix is easy.

The error is in the `gatsby-node.js` file, on line 126.

Old Line:
[code]

New Line:
[code]

I'll do a pull request

[2022-09-05 18:42] cesarvarela opened #173 "Update to react 18"
Considering that React is mostly backwards compatible, it shouldn't be that  much work to update this to React 18. I can make a PR too, but looks like you guys aren't merging any.

[2022-09-15 12:20] EricCote commented on #173
Cesar, are you looking at the i18n themes?  Or do you need that for one of the other themes? (Gatsby-theme-blog? Gatsby-theme-notes?)

[2022-09-16 15:03] gorzelinski commented on #172
I was thinking the same thing. I even considered recreating the whole i18n logic to be able to use the new version of MDX. I don't know if that's the best solution, but I independently made an identical change in my local repo, and it worked.

[2022-09-16 17:22] EricCote commented on #172
I published a fork of the i18n packages. (I needed that since this project doesn't seem to be updated anymore.)  You can get them all here:
- https://www.npmjs.com/package/@ericcote/gatsby-theme-i18n-react-intl
- https://www.npmjs.com/package/@ericcote/gatsby-theme-i18n-react-i18next
- https://www.npmjs.com/package/@ericcote/gatsby-theme-i18n

Source code with example is here, but on branch "publi

[2022-09-17 06:55] gorzelinski commented on #172
It seems like it, unfortunately. Thanks. I'll check them out in my free time.

[2022-09-22 17:12] cesarvarela commented on #173
`gatsby-theme-i18n` & `gatsby-theme-i18n-react-i18next`

Looks like you already took care of that in your forks, I'm gonna give them a try.

[2022-10-01 21:13] laforetcan commented on #124
I just cloned the project (`https://github.com/gatsbyjs/themes/starters/example-react-intl`) and it doesn't redirect the user from `domain.com` to the localized version `domain.com/en`

I have a 404 not found on `localhost:8000`. It should redirect to the local homepage `localhost:8000/en`